<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="head">
    <meta charset="UTF-8" />
    <meta
      content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"
      name="viewport"
    />

    <link rel="icon" type="image/png" href="uploads/favicon.png" />

    <title th:text="${title}">Admin Panel</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" th:href="@{/dist/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/dist/css/font_awesome_5_free.min.css}" />
    <link rel="stylesheet" th:href="@{/dist/css/select2.min.css}" />
    <link rel="stylesheet" th:href="@{/dist/css/bootstrap-tagsinput.css}" />
    <link rel="stylesheet" th:href="@{/dist/css/duotone-dark.css}" />
    <link
      rel="stylesheet"
      th:href="@{/dist/css/dataTables.bootstrap4.min.css}"
    />
    <link rel="stylesheet" th:href="@{/dist/css/iziToast.min.css}" />
    <link
      rel="stylesheet"
      th:href="@{/dist/css/fontawesome-iconpicker.min.css}"
    />
    <link rel="stylesheet" th:href="@{/dist/css/bootstrap4-toggle.min.css}" />
    <link rel="stylesheet" th:href="@{/dist/css/style.css}" />
    <link rel="stylesheet" th:href="@{/dist/css/components.css}" />
    <link rel="stylesheet" th:href="@{/dist/css/air-datepicker.min.css}" />
    <link rel="stylesheet" th:href="@{/dist/css/spacing.css}" />
    <link rel="stylesheet" th:href="@{/dist/css/custom.css}" />

    <script src="dist/js/jquery-3.7.0.min.js"></script>
    <script src="dist/js/bootstrap.bundle.min.js"></script>
    <script src="dist/js/popper.min.js"></script>
    <script src="dist/js/tooltip.js"></script>
    <script src="dist/js/jquery.nicescroll.min.js"></script>
    <script src="dist/js/moment.min.js"></script>
    <script src="dist/js/stisla.js"></script>
    <script src="dist/js/jscolor.js"></script>
    <script src="dist/js/bootstrap-tagsinput.min.js"></script>
    <script src="dist/js/select2.full.min.js"></script>
    <script src="dist/js/jquery.dataTables.min.js"></script>
    <script src="dist/js/dataTables.bootstrap4.min.js"></script>
    <script src="dist/js/iziToast.min.js"></script>
    <script src="dist/js/fontawesome-iconpicker.js"></script>
    <script src="dist/js/air-datepicker.min.js"></script>
    <script src="dist/tinymce/tinymce.min.js"></script>
    <script src="dist/js/bootstrap4-toggle.min.js"></script>
  </head>

  <body>
    <div th:fragment="navbar">
      <div class="navbar-bg"></div>
      <nav class="navbar navbar-expand-lg main-navbar">
        <form class="form-inline mr-auto">
          <ul class="navbar-nav mr-3">
            <li>
              <a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"
                ><i class="fas fa-bars"></i
              ></a>
            </li>
          </ul>
        </form>
        <ul class="navbar-nav navbar-right justify-content-end rightsidetop">
          <li class="nav-link">
            <a href="" target="_blank" class="btn btn-warning">Front End</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <img
                alt="image"
                src="uploads/user.jpg"
                class="rounded-circle-custom"
              />
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <a class="dropdown-item" href="profile.html"
                  ><i class="far fa-user"></i> Edit Profile</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="login.html"
                  ><i class="fas fa-sign-out-alt"></i> Logout</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>

    <div th:fragment="loadJS">
      <script src="dist/js/scripts.js"></script>
      <script src="dist/js/custom.js"></script>
    </div>
  </body>
</html>
